article.container {
    width: 210px;
    height: 230px;
    position: relative;
    margin: 0 auto;
    perspective: 800px;
    #carrussel {
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translateZ(-288px);
        transform-style: preserve-3d;
        transition: transform 2s;
        -webkit-transition: transform 2s;
        -moz-transition: transform 2s;
        -ms-transition: transform 2s;
        -o-transition: transform 2s;
        figure {
            display: flexbox;
            background-color: transparent;
            display: block;
            position: absolute;
            width: 80%;
            height: 80%;
            left: 10px;
            top: 10px;
            text-align: center;
            margin: 0;
            flex-direction: column;
            align-items: baseline;
            img {
                max-height: 150px;
                margin: 25% auto;
                flex: auto;
                flex-direction: column;
                align-items: baseline;
            }
        }
    }
}

#carrussel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
    -webkit-transform: rotateY(0deg) translateZ(288px);
    -moz-transform: rotateY(0deg) translateZ(288px);
    -ms-transform: rotateY(0deg) translateZ(288px);
    -o-transform: rotateY(0deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
    -webkit-transform: rotateY(40deg) translateZ(288px);
    -moz-transform: rotateY(40deg) translateZ(288px);
    -ms-transform: rotateY(40deg) translateZ(288px);
    -o-transform: rotateY(40deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
    -webkit-transform: rotateY(80deg) translateZ(288px);
    -moz-transform: rotateY(80deg) translateZ(288px);
    -ms-transform: rotateY(80deg) translateZ(288px);
    -o-transform: rotateY(80deg) translateZ(288px);
    backface-visibility: hidden;
}

#carrussel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
    -webkit-transform: rotateY(120deg) translateZ(288px);
    -moz-transform: rotateY(120deg) translateZ(288px);
    -ms-transform: rotateY(120deg) translateZ(288px);
    -o-transform: rotateY(120deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
    -webkit-transform: rotateY(160deg) translateZ(288px);
    -moz-transform: rotateY(160deg) translateZ(288px);
    -ms-transform: rotateY(160deg) translateZ(288px);
    -o-transform: rotateY(160deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
    -webkit-transform: rotateY(200deg) translateZ(288px);
    -moz-transform: rotateY(200deg) translateZ(288px);
    -ms-transform: rotateY(200deg) translateZ(288px);
    -o-transform: rotateY(200deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
    -webkit-transform: rotateY(240deg) translateZ(288px);
    -moz-transform: rotateY(240deg) translateZ(288px);
    -ms-transform: rotateY(240deg) translateZ(288px);
    -o-transform: rotateY(240deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
    -webkit-transform: rotateY(280deg) translateZ(288px);
    -moz-transform: rotateY(280deg) translateZ(288px);
    -ms-transform: rotateY(280deg) translateZ(288px);
    -o-transform: rotateY(280deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
    -webkit-transform: rotateY(320deg) translateZ(288px);
    -moz-transform: rotateY(320deg) translateZ(288px);
    -ms-transform: rotateY(320deg) translateZ(288px);
    -o-transform: rotateY(320deg) translateZ(288px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#carrussel {
    animation: rotateInY 15s infinite linear;
    -webkit-animation: rotateInY 15s infinite linear;
    /*   -moz-transform: rotateInY 15s infinite linear;
    -ms-transform: rotateInY 15s infinite linear;
    -o-transform: rotateInY 15s infinite linear;    */
}

@keyframes rotateInY {
    0% {
        transform: translateZ(-288px) rotateY(360deg);
        -webkit-transform: translateZ(-288px) rotateY(360deg);
        -moz-transform: translateZ(-288px) rotateY(360deg);
        -ms-transform: translateZ(-288px) rotateY(360deg);
        -o-transform: translateZ(-288px) rotateY(360deg);
    }

    100% {
        transform: translateZ(-288px) rotateY(0deg);
        -webkit-transform: translateZ(-288px) rotateY(0deg);
        -moz-transform: translateZ(-288px) rotateY(0deg);
        -ms-transform: translateZ(-288px) rotateY(0deg);
        -o-transform: translateZ(-288px) rotateY(0deg);
    }
}